body{
    background-color: #1abc9c;
}
.container{
    position :absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
}

input{
    background-color: #1abc9c;
    padding: 15px;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgb(25,129,94) ,
    -2px -2px 5px rgb(30, 177, 177) ;
    color: white;
}