body{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    backdrop-filter: blur(30px);
    background-color:rgba(150,225,220,0.3);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(117, 117, 190) inset,
    -5px -5px 5px rgb(158, 158, 194) inset;
}

.button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
    border: none;
    background: purple;
    color: white;
    padding: 10px;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover{
    cursor: pointer;
    background-image: linear-gradient(to top,purple,blue);
}